
*.aux

*.idx

*.log

*.gz

*.toc

relazione/build/

relazione/img/*.pdf

\.DS_Store

php/loginData.json

php/\.idea/

php/OverlayScrollbars/

php/uploads/

php/\.ftpquota

\.idea/

relazione/relazione\.out
