
*.aux

*.idx

*.log

*.gz

*.toc

relazione/build/

relazione/img/*.pdf

\.DS_Store

php/loginData.json

php/\.idea/

php/img/

php/OverlayScrollbars/

php/uploads/

php/scripts\.js

php/onlyJS\.css

php/\.ftpquota

\.idea/
