#sidebar-wrapper {
    overflow-y: hidden;
}

.sidebar > li > ul {
    display: none;
}

#lower-footer {
    padding-bottom: 2.5em;
}
#registration-form{
    margin-bottom:0px;
}

@media only screen and (max-width: 768px) {
    #nav-hamburger, #nav-menu-icon {
        display: block;
        margin-top: 1em;
    }
    #lower-footer {
        padding-bottom: 1em;
    }
}