/* General */

#retTop{
	background-color: #FFFFFF;
}
/* Index & about */
#nav, #nav-full {
    position: absolute;
}

.menu {
	display: none;
}

#site-title {
	float: none;
	text-align: center;
	font-size: 2em;
}

#header {
	background: none;
}

#header>h1{
	color: #000000;
}

.about-section1, .about-section2, .about-section3{
	padding-top: 1.5em;
	color: #000000;
}

/* Content and cards */

#upper-footer p{
	margin-top: 1em;
	color:#000000;
}

#developers>h2{
	color: #000000;
}
#developers>ul>li{
	color:#000000;
}

.grid h1{
	margin-top: 1.5em;
}

.row:nth-child(1) {
	clear: both;
}

.home-card{
	width:49%;
	background-color: #FFFFFF;
}

.links > li > a > img{
	display: none;
}
/* End Index & About */

/* addAdmin */

#registration-form{
	padding-top: 0px;
}

#registration-form h1{
    margin-top: 0em;
}

#registration-form h2{
	margin-bottom: 0em;
}

.regform-main-section {
	margin: 0em;
	padding: 0em;
}

.profile-input[type=submit] {
	background-color: #FFFFFF;
}

/* End addAdmin */

/* article */

.article-image img{
	width: 100%;
	max-height: 2em;
}

/* create_argument */

.arg_title>div{
    padding: 1.7em 3%;
}

/* article_links */

#nav{
	display: none;
}

#sidebar-wrapper, #sidebar{
	width: 0%;
	display: none;
}

#rightSideWrapper{
	width:100%;
}

#content-article-introduction>ul li:before{
	background-image: none;
	margin-right: 0px;
}

/* End article_links */

/* Footer */

#developers>ul>li{
	margin-right:1.5em;
}


