/* General */

#retTop{
	background-color: #FFFFFF;
}

#sidebar-wrapper, #sidebar{
	width: 0%;
	display: none;
}

#rightSideWrapper{
	width:100%;
}

#nav, #nav-full {
    display: none;
}

.menu {
	display: none;
}
/* Index & about */

#header {
	background: none;
}

#header>h1{
	color: #000000;
}

#home-search-bar, #search-bar input[type="text"] {
	margin-top: 0.5em;
}

#search-bar input[type="submit"] {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}

.about-section1, .about-section2, .about-section3{
	padding-top: 1.5em;
	color: #000000;
}

/* Content and cards */

.grid h1{
	margin-top: 1.5em;
}

.row:nth-child(1) {
	clear: both;
}

.home-card{
	width:49%;
	background-color: #FFFFFF;
}

.links > li > a > img{
	display: none;
}
/* End Index & About */

/* addAdmin & profile & ecc.*/

.profile-input[type=submit] {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}

#registration-form{
	padding-top: 0px;
}

#registration-form h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* End addAdmin */

/* article */

.article-image img{
	width: 100%;
	max-height: 2em;
}

/* create_argument */

.arg_title>div{
	padding: 1.7em 3%;
	width:100%
}

.arg_link>li{
	width:100%;
}

/* article_links */

#content-article-introduction>ul li:before{
	background-image: none;
	margin-right: 0px;
}

#content-article-introduction [type="text"]{
	border: 1px solid #000000;
}

#content-article-introduction input[type="submit"]{
	border: 1px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}

.arg_title > div{
	padding: 1em 3%;
}

.arg_link > li{
	padding: 2em 3%;
}
/* End article_links */

/* Write article */
#write-article-form [type="submit"] {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}

/* Footer */

#developers>ul>li{
	margin-right:1.5em;
	color:#000000;

}

#upper-footer p{
	margin-top: 1em;
	color:#000000;
}

#developers>h2{
	color: #000000;
}


