* {
	margin: 0;
	padding: 0;
	font-size: 1.0em;
	font-family: 'Roboto', sans-serif;
}

html,body {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

/* Nav-bar */

#nav-bar{
	position: fixed;
	width: 100%;
	top: 0;
	background:#0078CE;
	height: 3.5em;
}

#nav-bar h1{
	float: left;
	color: #ffffff;
	font-size: 1em;
	padding: 1em;
}

#menu-icon {
	float:right;
}

#nav-bar-menu{
	float: right;
	list-style-type: none;
}

.nav-bar-menu-item{
	display: block;
	float: left;
	text-align: center;
	margin-right: 20px;
	font-size: 1em;
	color: #ffffff;
	padding: 1em;
}

#menu-icon img{
	width:32px;
	height:32px;
	display: none;
	float: left;
	margin-right: 0.5em;
	font-size: 1em;
	color: #ffffff;
	padding: 0.7em;
}

/* Nav-bar end */

/*.profile-pic {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	padding: 0em 0em 0.5em 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('./img/coding.svg');
}*/

/* Header */

#header{
	background-color: #616161;
	padding-top: 5.3em;
}

#header-title{
	line-height: 300px;
	text-align:center;
	color: #FFFFFF;
	font-size: 4em;
}

/* Header end */

/* Content and cards */

#content {
	display: block;
}

#introduction {
	text-align: center;
	font-size: 1.5em;
	margin: auto;
	padding: 20px;
}

/*#grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 75px;
	padding: 50px;
	max-width: 1200px;
	margin: auto;
}*/

/* Content and cards end */

/* Sezione media queries */

@media only screen and (max-width: 768px) {
	#nav-bar h1{
		float: left;
		font-size: 1.5em;
		padding: 0.5em;
	}

	#header{
		padding-top: 4em;
	}

	#header-title{
		text-align: center;
		color: #FFFFFF;
		font-size: 2em;
	}
	#introduction {
		font-size: 1em;
	}
	
	#nav-bar-menu {
		display: none;
		width: 100%;
		background-color: #000000;
		float: right;
	}	

	.nav-bar-menu-item{
		text-align: center;
		margin: auto;
		display: block;
		width: 100%;
		font-size: 1.5em;
		color: #ffffff;
		padding: 0.5em;
		overflow: hidden;
	}

	#menu-icon img{
		display: block;
		cursor: pointer;
	}

	#footer {
		background: #363636;
		font-size: 1.5em;
		padding: 1.5em;
	}
}

/* Sezione media queries end */


.title-container{
	margin: 20px 10px 20px 10px;
	float: left;
}

.title-container a{
	font-size: 1.5em;
}


.title-container a:link{
	text-decoration: none;
}

.title-container a:hover{
	color:darkgrey;
	text-decoration: none;
}

.title-container a:active{
	color: black;
	text-decoration: none;
}


li a:link{
	text-decoration: none;
}


li a:hover{
	color:darkgrey;
	text-decoration: none;
}

li a:active{
	color: black;
	text-decoration: none;
}

/* Article in content */


/* Article in content end */


/* Left navigation bar */


/* Left navigation bar end */

/* Footer */

#footer {
	background: #363636;
	font-size: 1em;
	padding: 1.5em;
}

#footer p { 
	text-align: center;
	color: #ffffff;
}

/* Footer end */


/*Main Section---------------------------*/
.main-wrapper{
	width:100%;
	background:#fff;
}
.main{
	box-sizing:border-box;
	
}
/*Main Posts------------------------------*/
.grid{
	padding:5em 1em;
}
.grid h1{
	text-align:center;
	color:rgba(40,40,40,0.87);
	font-size:2em;
	margin-bottom:0.5em;

}
.row{
	margin:0 auto;	
	width:100%;
	overflow:hidden;
	margin-top:5em;
}
.home-card{
	width:24%;
	float:left;
	overflow:hidden;
	margin-top: 1.5em;
	margin-right:1%;
	background-color: rgb(165, 168, 175);
}
.home-card a{
	text-decoration:none;
}
.home-card:nth-child(4){
	margin-right:0;
}
.home-card h3{
	color:#616161;
	text-align: center;
	margin-bottom:0.5em;
	font-size: 2em;
}
.home-card img{
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 25%;
    height: auto;
	margin-bottom:0.5em;
}
.home-card h2{
	color:rgba(00,00,00,0.87);
	-webkit-transition: color underline 0.3s;
	transition: color 0.3s;
	text-align: center;
}
.home-card h2:hover{
	color:#F44336;
	text-decoration:underline;
}

/*Media Queries----------------------------------*/
@media screen and (max-width:1200px){
	.home-card{
		width:49%;
	}

	.home-card img {
		margin-left: auto;
		margin-right: auto;
	}

	.home-card:nth-child(3){
		clear:left;
	}
}

@media screen and (max-width:768px){
	.grid{
		padding:5em 1em;
	}	
	.home-card{
		width:100%;
		text-align: center;
	}

	.home-card img {
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}
	.home-card:nth-child(3){
		clear:both;
	}
}