* {
	margin: 0;
	padding: 0;
	font-size: 1.0em;
	font-family: 'Roboto', sans-serif;
}

html,body {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

/* Nav-bar */

#nav-bar{
	position: fixed;
	width: 100%;
	top: 0;
	background:#0078CE;
	height: 3.5em;
}

#nav-bar h1{
	float: left;
	color: #ffffff;
	font-size: 1em;
	padding: 1em;
}

#menu-icon {
	float:right;
}

#nav-bar-menu{
	float: right;
	list-style-type: none;
}

.nav-bar-menu-item{
	display: block;
	float: left;
	text-align: center;
	margin-right: 20px;
	font-size: 1em;
	color: #ffffff;
	padding: 1em;
}

#menu-icon img{
	width:32px;
	height:32px;
	display: none;
	float: left;
	margin-right: 0.5em;
	font-size: 1em;
	color: #ffffff;
	padding: 0.7em;
}

/* Nav-bar end */

/*.profile-pic {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	padding: 0em 0em 0.5em 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('./img/coding.svg');
}*/

/* Header */

#header{
	background-color: #616161;
	padding-top: 5.3em;
}

#header-title{
	line-height: 300px;
	text-align:center;
	color: #FFFFFF;
	font-size: 4em;
}

/* Header end */

/* Content and cards */

#content {
	display: block;
}

#introduction {
	text-align: center;
	font-size: 1.5em;
	margin: auto;
	padding: 20px;
}

/*#grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 75px;
	padding: 50px;
	max-width: 1200px;
	margin: auto;
}*/

#grid {
	padding-top: 2em;
	padding-bottom: 2em;
	width:100%;
	overflow: hidden;
	background-color: rgb(139, 139, 139);
}

.home-card{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	overflow:hidden;
	background-color: white;
	text-align: center;
}

/* Content and cards end */

/* Sezione media queries */

@media only screen and (max-width: 768px) {
	#nav-bar h1{
		float: left;
		font-size: 1.5em;
		padding: 0.5em;
	}

	#header{
		padding-top: 4em;
	}

	#header-title{
		text-align: center;
		color: #FFFFFF;
		font-size: 2em;
	}
	#introduction {
		font-size: 1em;
	}
	
	#nav-bar-menu {
		display: none;
		width: 100%;
		background-color: #000000;
		float: right;
	}	

	.nav-bar-menu-item{
		text-align: center;
		margin: auto;
		display: block;
		width: 100%;
		font-size: 1.5em;
		color: #ffffff;
		padding: 0.5em;
		overflow: hidden;
	}

	#menu-icon img{
		display: block;
		cursor: pointer;
	}

	.home-card {
		font-size: 1.3em;
	}

	#footer {
		background: #363636;
		font-size: 1.5em;
		padding: 1.5em;
	}
}

/* Sezione media queries end */


.home-card img{
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 64px;
	height: 64px;
}

.title-container{
	margin: 20px 10px 20px 10px;
	float: left;
}

.title-container a{
	font-size: 1.5em;
}

.home-card ul{
	float: left;
	clear: left;
	list-style-type: none;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 72px;
}

.home-card li{
	padding-bottom: 8%;
	padding-top: 8%;
	text-align: left;
}

.title-container a:link{
	text-decoration: none;
}

.title-container a:hover{
	color:darkgrey;
	text-decoration: none;
}

.title-container a:active{
	color: black;
	text-decoration: none;
}


li a:link{
	text-decoration: none;
}


li a:hover{
	color:darkgrey;
	text-decoration: none;
}

li a:active{
	color: black;
	text-decoration: none;
}

/* Article in content */


/* Article in content end */


/* Left navigation bar */


/* Left navigation bar end */

/* Footer */

#footer {
	background: #363636;
	font-size: 1em;
	padding: 1.5em;
}

#footer p { 
	text-align: center;
	color: #ffffff;
}

/* Footer end */
