/* CSS ARTICOLO */

.article-content > h2 {
     text-align: center;
     font-size: 4em;
}
.article-content > h3 {
     text-align: center;
     font-size: 2em;
}
/* Gestione di un paragrafo di tutorial, con titolo, sottotitolo e lista */
.content-paragraph {
     padding: 4%;
}
.content-paragraph p {
     margin: .2em .2em .2em 0;
}
.content-paragraph > h3 {
     font-size: 2em;
}
 .content-list-nostyle {
     list-style-type: none;
}
.content-paragraph h4 {
     font-size: 1em;
     font-weight: bold;
     padding-top: 2%;
     padding-bottom: 0.3%;
}
/* Test immagine nell'articolo */
.article-image {
     border: thin silver solid;
     font-style: italic;
     font-size: 1em;
     margin: 0.5em;
     padding: 0.5em;
}
.article-image img {
     max-width: 90%;
     max-height: 90%;
}
.article-image figcaption {
	text-align: center;
	display:inline-block;
}

/* ----------------- */

/* CSS COMMENTI */

#comments-content {
    max-width: 70%;
    margin: 0 auto;
}

.input-comment {
    margin-top: 2%;
}

.input-comment-area {
    margin-top: 1%;
}

.input-comment-area > textarea {
    font-size: 1em;
    max-width: 90%;
    resize: none;
}

.input-comment-area > textarea::placeholder {
    font-style: italic;
}

.post-comment {
    margin-top: 2%;
}

.post-comment-avatar > img, .input-comment-avatar > img {
    /*min-width: 20px;
    min-height: 20px;*/
    width: 4%;
    height: 4%;
    padding: 1%;
    float: left;
}

.post-comment-header-info {
	display: inline-block;
}

.post-comment-header-info > h4 {
    font-size: 1em;
    font-weight: bold;
}

.post-comment-header-info > p {
    display:inline;
}

.post-comment-body-header-votes{
    float: right;
    display: block;
    width: 125px;
}

.post-comment-body-header-votes > .dislike-vote {
    display: inline-block;
    vertical-align: middle;
    max-width: 20%;
    max-height: 20%;
    padding-right: 3%;
    
}

.post-comment-body-header-votes > .like-vote {
    display: inline-block;
    vertical-align: middle;
    max-width: 20%;
    max-height: 20%;
    padding-left: 3%;
}

.post-comment-body-header-votes > p {
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
}

.post-comment-body-header-votes > .positive-vote {
	color: #46e023;
}

.post-comment-body-header-votes > .negative-vote {
	color: red;
}

.post-comment-body-content > p {
    padding: 1%;
    margin-left: 5%;
}

.post-comment-body-footer, .input-comment-footer {
    padding: 1%;
    margin-left: 5%;
    font-style: italic;
}

.post-comment-body-footer > input, .input-comment-footer > input {
	position: relative;
  	vertical-align: top;
  	width: 25%;
  	height: 30px;
  	padding: 0;
  	text-align: center;
  	color: white;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      font-size: 1em;
  	background: #3498db;
  	border: 0;
  	border-bottom: 2px solid #2a8bcc;
  	cursor: pointer;
  	box-shadow: inset 0 -2px #2a8bcc;
}

.post-comment > .post-comment-childrens {
    padding-left: 6%;
}

.post-comment-childrens > .post-comment {
    border-style: none none none solid;
    border-width: 2px;
    border-color: #adadad;
}
