/* CSS ARTICOLO */

.article-content > h2 {
     text-align: center;
     font-size: 4em;
}
.article-content > h3 {
     text-align: center;
     font-size: 2em;
}
/* Gestione di un paragrafo di tutorial, con titolo, sottotitolo e lista */
.content-paragraph {
     padding: 4%;
}
.content-paragraph p {
     margin: .2em .2em .2em 0;
}
.content-paragraph > h3 {
     font-size: 2em;
}
 .content-list-nostyle {
     list-style-type: none;
}
.content-paragraph h4 {
     font-size: 1em;
     font-weight: bold;
     padding-top: 2%;
     padding-bottom: 0.3%;
}
/* Test immagine nell'articolo */
.article-image {
     border: thin silver solid;
     font-style: italic;
     font-size: 1em;
     margin: 0.5em;
     padding: 0.5em;
}
.article-image img {
     max-width: 70%;
     max-height: 70%;
}

/* ----------------- */

/* CSS COMMENTI */

#comments-content {
    max-width: 70%;
    margin: 0 auto;
}

.post-comment {
    margin-top: 2%;
}

.post-comment-avatar > img {
    min-width: 20px;
    min-height: 20px;
    max-width: 4%;
    max-height: 4%;
    padding: 1%;
    float: left;
}

.post-comment-body-header > h4 {
    font-size: 1em;
    font-weight: bold;
}

.post-comment-body-header > p {
    display:inline;
}

.post-comment-body-header-votes{
    float: right;
    display: inline-table;
    vertical-align: middle;
}

.post-comment-body-header-votes > .dislike-vote {
    display: table-cell;
    vertical-align: middle;
}

.post-comment-body-header-votes > .like-vote {
    display: table-cell;
    vertical-align: middle;
}

.post-comment-body-header-votes > p {
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
}

.post-comment-body-content > p {
    padding: 1%;
    margin-left: 5%;
}

.post-comment-body-footer {
    padding: 1%;
    margin-left: 5%;
    font-style: italic;
}

.post-comment > .post-comment-childrens {
    padding-left: 5.5%;
}

.post-comment-childrens > .post-comment {
    border-style: none none none solid;
    border-width: 2px;
    border-color: #adadad;
}