<Files "loginData.json">  
    Order Allow,Deny
    Deny from all
</Files>
<Files "loginDataExample.json">  
    Order Allow,Deny
    Deny from all
</Files>

ErrorDocument 404 http://tecweb1819.studenti.math.unipd.it/mroverat/errore.php?errorCode=404
ErrorDocument 403 http://tecweb1819.studenti.math.unipd.it/mroverat/errore.php?errorCode=404
